EEPROMwriter/#auto_saved_files#
EEPROMwriter/_autosave*
EEPROMwriter/~*
EEPROMwriter/EEPROMwriter-backups
computer_kicad/#auto_saved_files#
computer_kicad/_autosave*
computer_kicad/~*
computer_kicad/6502schematics-backups
